<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Actualizar Datos</h1>
  <ion-card>
    <form [formGroup]="formularioActualizar">
      <ion-item>
        <ion-input formControlName="nameUser" placeholder="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="emailUser" placeholder="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="passUser" placeholder="contraseña"></ion-input>
      </ion-item>
        <ion-button (click)="actualizarUsuario()" [disabled]="formularioActualizar.invalid">Actualizar</ion-button>
    </form>
  </ion-card>
  <h1>Eliminar Datos</h1>
  <ion-card>
    <form [formGroup]="formularioEliminar">
      <ion-item>
        <ion-input formControlName="emailUser1" placeholder="email"></ion-input>
      </ion-item>
      <ion-button (click)="eliminarUsuario()" [disabled]="formularioEliminar.invalid">eliminar</ion-button>
    </form>
  </ion-card>
</ion-content>
